@define-color bg #1e1e2e;
@define-color fg #dc8add;
@define-color gray1 #372c45;
@define-color gray2 #83588b;
@define-color gray3 #513b5d;
@define-color gray4 #443451;
@define-color gray5 #5d4268;
@define-color fg_bright #dc8add;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}